<div id="login-page" class="container">
    <h1>Login</h1>
    <form method="POST" action="/auth/local" class="well">
        <input type="text" name="username" class="span2" placeholder="Username" /><br />
        <input type="password" name="password" class="span2" placeholder="Password" /><br />
        <label class="checkbox"> <input type="checkbox" /> Remember me </label>
        <button type="submit" class="btn btn-primary">Sign in</button>
        <input type="hidden" name="same_origin_token" value="<%= token %>" />
    </form>
</div>
