<h1>Lobby: Counter-Strike GO</h1>

<div class="row">
  <div class="span9">
    <div id="lobby-games">
      <ul class="thumbnails">
        <li class="span3">
          <a href="/lobbies/1/room" class="thumbnail">
            <img src="/img/stream.png" alt="" />
          </a>
        </li>

        <li class="span3">
          <a href="/lobbies/1/room" class="thumbnail">
            <img src="/img/stream.png" alt="" />
          </a>
        </li>

        <li class="span3">
          <a href="/lobbies/1/room" class="thumbnail">
            <img src="/img/stream.png" alt="" />
          </a>
        </li>
      </ul>
      <ul class="thumbnails">
        <li class="span3">
          <a href="/lobbies/1/room" class="thumbnail">
            <img src="/img/stream.png" alt="" />
          </a>
        </li>

        <li class="span3">
          <a href="/lobbies/1/room" class="thumbnail">
            <img src="/img/stream.png" alt="" />
          </a>
        </li>

        <li class="span3">
          <a href="/lobbies/1/room" class="thumbnail">
            <img src="/img/stream.png" alt="" />
          </a>
        </li>
      </ul>
    </div>

    <div class="tabbable">
      <ul class="nav nav-tabs">
        <li class="active">
          <a href="#chatbox-form" data-toggle="tag">Chat</a>
        </li>
        <li>
          <a href="#lobby-active-games" data-toggle="tag">Active Games</a>
        </li>
      </ul>

      <div class="tab-content">
        <div class="tab-pane active" id="chatbox-form">
          <form id="chatbox-form">
            <fieldset>
              <pre id="chatbox" class="pre-scrollable"></pre>

              <div class="form-inline">
                <input type="text" placeholder="Say anything..." />
                <button type="submit" class="btn">Send</button>
              </div>
            </fieldset>
          </form>
        </div>

        <div class="tab-pane" id="lobby-active-games">

        </div>
    </div>
  </div>
</div>

<div class="span3">
  <h4>Players: 3,252</h4>

  <div class="well">
    <ul>
      <li>Player 1</li>
      <li>Player 2</li>
      <li>Player 3</li>
      <li>Player 4</li>
      <li>Player 5</li>
    </ul>
  </div>
</div>
