<h1>Friends</h1>

<table class="table table-bordered table-striped">
  <thead>
    <tr>
      <th>Username</th>
    </tr>
  </thead>
  <tbody>
    <% if (friends) { %>
    <% for (var friend in friends) { %>
      <tr>
        <td><%- linkTo(friends[friend].username, userPath(friends[friend].id)); %></td>
      </tr>
    <% } %>
    <% } else { %>
      <tr>
        <td>No Results Found</td>
      </tr>
    <% } %>
  </tbody>
</table>

<%- linkTo('Add Friend', addFriendPath, {class: 'btn btn-primary'}); %>
