<div class="span9">
  <h1>Bets</h1>

  <table class="table table-bordered table-striped">
    <thead>
      <tr>
        <th>
          Date/Time
        </th>
        <th>
          Bet
        </th>
        <th>
          Participants
        </th>
        <th>
          Game
        </th>
        <th>
          Status
        </th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>
          01/01/2014 3:44 PM
        </td>
        <td>
          100
        </td>
        <td>
            jochs vs Player2
        </td>
        <td>
            Quake Live
        </td>
        <td>
            10:16 Time Left to Report
        </td>
      </tr>
      <tr>
        <td>
          01/01/2014 3:44 PM
        </td>
        <td>
          50
        </td>
        <td>
            Fatal1ty vs DKT
        </td>
        <td>
            Quake 3
        </td>
        <td>
            Not Reported
        </td>
      </tr>
      <tr class="success">
        <td>
          01/01/2014 3:44 PM
        </td>
        <td>
          +50
        </td>
        <td>
            CoL vs SK
        </td>
        <td>
            CS: GO
        </td>
        <td>
            Won
        </td>
      </tr>
      <tr class="error">
        <td>
          01/01/2014 3:44 PM
        </td>
        <td>
          -50
        </td>
        <td>
            EG vs X6
        </td>
        <td>
            CS: SC2
        </td>
        <td>
            <a href="#" onclick="return false;">Lost (Dispute)</a>
        </td>
      </tr>
    </tbody>
  </table>
</div>
