<h1>Tournaments</h1>

<table class="table table-bordered table-striped">
  <thead>
    <tr>
      <th></th>
      <th>
        Start Date:Time
      </th>
      <th>
        Game
      </th>
      <th>
        Game Type
      </th>
      <th>
        Prize Pool
      </th>
      <th>
        Players Or Teams
      </th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>
        <a href="#">View Details</a>
      </td>
      <td>
        01/01/2014 7:00PM
      </td>
      <td>
        Quake Live
      </td>
      <td>
        Duel
      </td>
      <td>
        $1,000 Cash/1000 Points
      </td>
      <td>
        3492/5000
      </td>
    </tr>
    <tr>
      <td>
        <a href="#">View Details</a>
      </td>
      <td>
        01/09/2014 7:00PM
      </td>
      <td>
        Quake 3
      </td>
      <td>
        CTF
      </td>
      <td>
        $1,000 Cash/1000 Points
      </td>
      <td>
        459/1000
      </td>
    </tr>
    <tr>
      <td>
        <a href="#">View Details</a>
      </td>
      <td>
        01/12/2014 7:00PM
      </td>
      <td>
        CS: GO
      </td>
      <td>
        Team 5vs5
      </td>
      <td>
        $20,000 Cash/50,000 Points
      </td>
      <td>
        12,361/50,000
      </td>
    </tr>
  </tbody>
</table>
