<li class="span3">
  <div class="thumbnail">
    <img src="/img/stream.png" alt="" />

    <div class="caption">
      <p>Stream Name: dProductions</p>
      <p>Game: Quake Live</p>
      <p>Viewers: 25,024</p>
      <p>Betting: Yes</p>

      <p>
        <%- linkTo("Watch", streamPath(1), {class: "btn btn-primary"}); %>
      </p>
    </div>
  </div>
</li>
