<li class="span4">
  <div class="thumbnail">
    <img src="/img/stream.png" alt="" />

    <div class="caption">
      <p>Stream Name: dProductions</p>
      <p>Game: Quake Live</p>
      <p>Viewers: 25,024</p>
      <p>Betting: Yes</p>
    </div>
  </div>
</li>
