<div class="span9">
  <h1>Streams</h1>

  <div class="row-fluid">
    <ul class="thumbnails">
      <li class="span4">
        <div class="thumbnail">
          <img src="/img/stream.png" alt="" />

          <div class="caption">
            <p>Stream Name: dProductions</p>
            <p>Game: Quake Live</p>
            <p>Viewers: 25,024</p>
            <p>Betting: Yes</p>
          </div>
        </div>
      </li>
      <li class="span4">
        <div class="thumbnail">
          <img src="/img/stream.png" alt="" />

          <div class="caption">
            <p>Stream Name: dProductions</p>
            <p>Game: Quake Live</p>
            <p>Viewers: 25,024</p>
            <p>Betting: Yes</p>
          </div>
        </div>
      </li>
      <li class="span4">
        <div class="thumbnail">
          <img src="/img/stream.png" alt="" />

          <div class="caption">
            <p>Stream Name: dProductions</p>
            <p>Game: Quake Live</p>
            <p>Viewers: 25,024</p>
            <p>Betting: Yes</p>
          </div>
        </div>
      </li>
    </ul>
    <ul class="thumbnails">
      <li class="span4">
        <div class="thumbnail">
          <img src="/img/stream.png" alt="" />

          <div class="caption">
            <p>Stream Name: dProductions</p>
            <p>Game: Quake Live</p>
            <p>Viewers: 25,024</p>
            <p>Betting: Yes</p>
          </div>
        </div>
      </li>
      <li class="span4">
        <div class="thumbnail">
          <img src="/img/stream.png" alt="" />

          <div class="caption">
            <p>Stream Name: dProductions</p>
            <p>Game: Quake Live</p>
            <p>Viewers: 25,024</p>
            <p>Betting: Yes</p>
          </div>
        </div>
      </li>
      <li class="span4">
        <div class="thumbnail">
          <img src="/img/stream.png" alt="" />

          <div class="caption">
            <p>Stream Name: dProductions</p>
            <p>Game: Quake Live</p>
            <p>Viewers: 25,024</p>
            <p>Betting: Yes</p>
          </div>
        </div>
      </li>
    </ul>
  </div>
</div>
