<div class="span4">
  <ul class="thumbnails">
    <li>
      <a href="#" class="thumbnail">
        <img src="/img/stream.png" alt="" />
      </a>
    </li>
  </ul>
  <div class="well">
    Next Match Rapha vs Zero4 Map: Bloodrun
  </div>

  <form id="chatbox-form">
    <fieldset>
      <legend>Chat</legend>

      <pre id="chatbox" class="pre-scrollable"></pre>

      <div class="form-inline">
        <input type="text" placeholder="Say anything..." />
        <button type="submit" class="btn">Send</button>
      </div>
    </fieldset>
  </form>
</div>

<div class="span4">
  boobies
</div>
