<div class="span3">
  <div class="well" style="padding: 8px 0;">
    <ul class="nav nav-list">
      <li class="nav-header">
        Community
      </li>
      <%- sidebarItem({ path: newsPath, currentPath: "/news", name: "News" }); %>
      <%- sidebarItem({ path: gamesPath, currentPath: "/news", name: "Games" }); %>
      <li>
        <a href="/bets">Bets</a>
      </li>
      <li>
        <a href="/tournaments">Tournaments</a>
      </li>
      <li>
        <a href="/leagues">Leagues</a>
      </li>
      <li>
        <a href="/streams">Streams</a>
      </li>
      <li>
        <a href="/store">Store</a>
      </li>
      <li>
        <a href="/faq">FAQ</a>
      </li>
      <li>
        <a href="/forums">Forums</a>
      </li>
    </ul>
  </div>
</div>
