<h1>Ignored Users</h1>

<table class="table table-bordered table-striped">
  <thead>
    <tr>
      <th>Username</th>
    </tr>
  </thead>
  <tbody>
    <% if (ignores.length) { %>
    <% for (var ignore in ignores) { %>
      <tr>
        <td><%- linkTo(ignores[ignore].username, userPath(ignores[ignore].id)); %></td>
      </tr>
    <% } %>
    <% } else { %>
      <tr>
        <td>No Results Found</td>
      </tr>
    <% } %>
  </tbody>
</table>

<%- linkTo('Add User to Ignore List', addIgnorePath, {class: 'btn btn-primary'}); %>
