<div class="span9">
  <h1>News</h1>

  <table class="table table-bordered table-striped">
    <tbody>
      <tr>
        <td>
          Nike.com Redesign
        </td>
      </tr>
      <tr>
        <td>
          Twitter Server Consulting
        </td>
      </tr>
      <tr>
        <td>
          Childrens Book Illustration
        </td>
      </tr>
    </tbody>
  </table>
</div>
