<table class="table">
  <thead>
    <tr>
      <th>Dispute</th>
      <th>Amount</th>
      <th>Status</th>
    </tr>
  </thead>

  <tbody>
    <tr>
      <td>Underpants12</td>
      <td>100 Points</td>
      <td>Pending</td>
    </tr>
    <tr>
      <td>Underpants12</td>
      <td>100 Points</td>
      <td>Pending</td>
    </tr>
    <tr>
      <td>Underpants12</td>
      <td>100 Points</td>
      <td>Pending</td>
    </tr>
  </tbody>
</table>
