<h1>Settings</h1>
<%= partial("/settings/_sidebar", { navItem: navItem, currentPath: currentPath }); %>

<div class="span8">
  <%= partial("/settings/_" + page, { currentUser: currentUser }); %>
</div>
