<h1>Games</h1>

<table class="table table-bordered table-striped">
  <thead>
    <tr>
      <th>
        Name
      </th>
      <th>
        Players
      </th>
      <th>
        Status
      </th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>
        <%- linkTo("Counter-Strike: Go", lobbyPath(1)); %>
      </td>
      <td>
        54,066
      </td>
      <td>
        <div class="progress">
          <div class="bar" style="width: 60%;"></div>
        </div>
      </td>
    </tr>
    <tr>
      <td>
        League of Legends
      </td>
      <td>
        85,005
      </td>
      <td>
        <div class="progress">
          <div class="bar" style="width: 85%;"></div>
        </div>
      </td>
    </tr>
    <tr>
      <td>
        StarCraft 2
      </td>
      <td>
        104,561
      </td>
      <td>
        <span class="badge">Installed</span>
      </td>
    </tr>
    <tr>
      <td>
        Counter-Strike: Source
      </td>
      <td>
        203,144
      </td>
      <td>
        <span class="badge">Buy Now</span>
      </td>
    </tr>
  </tbody>
</table>
